@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-color: #0a0120;
  --text-color: white;
  --h1-color: #00ffd5;
  --header-img-gradient: linear-gradient(
    rgba(11, 3, 54, 0.952),
    rgba(0, 0, 0, 0.342),
    rgba(14, 1, 48, 0.562),
    rgb(10, 1, 32)
  );
  --text-shadow: 5px 5px 5px #000000;
}

body {
  margin: 0;
  font-family: "Raleway";
  background-color: var(--bg-color);
  color: var(--text-color);
}

.container {
  width: 95%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: var(--header-img-gradient), url("../img/cp-winter.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  cursor: grab;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.5em;
  padding-top: 2em;
  font-weight: 200;
}

header nav ul li:first-child {
  margin-right: 2em;
  border: white solid 1px;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 1000;
}

header nav ul li:first-child i {
  background-color: #ffffff00;
  color: white;
}

header nav ul li:first-child:hover {
  color: white;
}

header nav ul li i {
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  padding-top: 0.2em;
  border-radius: 50%;
  color: var(--bg-color);
  margin-right: 0.5em;
}

.li-flex {
  display: flex;
  flex-direction: row-reverse;
}

.li-flex button {
  margin-right: -2.9em;
  cursor: pointer;
}
.li-flex button i {
  background-color: #05000000;
  color: rgba(0, 0, 0, 0.432);
  font-size: 1.1rem;
}

.li-flex form input {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 0.9rem;
  border-radius: 1.5em;
  color: #ffffff;
  height: 3em;
  width: 20em;
  padding-left: 3em;
  transition: background-color 2s;
}

header nav ul li:hover {
  color: rgb(25, 25, 255);
  cursor: pointer;
}

.li-flex form input:hover {
  background-color: rgba(255, 255, 255);
  color: #000000;
}

div.container h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.2em;
  text-shadow: var(--text-shadow);
}

div.text-container p {
  line-height: 1.5em;
  font-weight: 200;
}

.text-container {
  display: flex;
  flex-direction: column;
  height: 30vh;
  width: 50%;
  cursor: default;
}

div.text-container div ul {
  display: flex;
  gap: 6em;
  text-shadow: var(--text-shadow);
  font-size: 0.8rem;
  margin-bottom: 2em;
  font-weight: 200;
}

div.text-container div ul li:first-child {
  background-color: rgb(144, 144, 238);
  width: 3.5em;
  height: 1.7em;
  padding-top: 0.3em;
  text-align: center;
  border-radius: 1em;
  font-weight: 500;
}

div.text-container div ul li a {
  margin-right: 1em;
  font-weight: 600;
}

.flex-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
  width: 25%;
  height: 15vh;
}

.flex-button div {
  font-weight: 100;
  padding-top: 1.5vh;
  text-align: center;
  background-color: #13121200;
  border-radius: 30px;
  cursor: pointer;
}
.flex-button div i {
  padding-right: 0.5em;
  color: blue;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5em;
  width: 40%;
  height: 5vh;
}

div.flex-container h2 {
  font-size: 2rem;
  font-weight: 100;
  margin-right: 1em;
}

div.flex-container span {
  color: var(--h1-color);
  font-size: 0.8rem;
  border: rgb(129, 100, 255) solid 5px;
  background-color: rgb(129, 100, 255);
  cursor: pointer;
}
div.flex-container span i {
  margin-right: 0.5em;
}

.container-cards {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}

.movies-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.5em;
  width: 16%;
  height: 64vh;
  cursor: pointer;
  border-radius: 10px;
  transform: scale(1, 1);
  transition: transform 2s;
}
.movies-container:hover {
  transform: scale(1.1, 1.1);
  transition: transform 1s;
  background-color: #11053d;
  /* align-items: center; */
  z-index: 3;
  border: white solid 1px;
}

.img-card {
  position: relative;
  border-radius: 5px;
  height: 50vh;
  object-fit: cover;
}

.quality {
  position: absolute;
  color: #ffffff;
  right: 1em;
  top: 0.5em;
  padding: 0.1em 0.4em;
  font-size: 1rem;
  font-weight: 600;
  border: #ffffff solid 1px;
  background-color: #050000;
  border-radius: 3px;
}

.image-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}

.image-info p {
  font-weight: 600;
  margin-top: -4.5em;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}
.info-container span {
  font-weight: 100;
  font-size: 0.9rem;
  opacity: 0.5;
  margin-top: -0.5em;
}

.info-container i {
  font-size: 0.2rem;
  opacity: 0.5;
  padding: 0em 2em;
}

.info-container span:last-child {
  font-size: 0.6em;
  border: white solid 1px;
  padding: 0.2em 0.2em;
  border-radius: 3px;
}

.flex-container-tv {
  display: flex;
  width: 100%;
  margin-top: 10em;
  justify-content: space-between;
  align-items: center;
}

.flex-container-tv h2 {
  width: 50%;
  font-size: 2rem;
  font-weight: 100;
  margin-right: 1em;
}

.flex-container-tv span {
  color: blue;
  cursor: pointer;
}
.flex-container-tv i {
  margin-left: 0.5em;
}
